<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated text_maze_game -->
      <package
            uri="com.schrodingdong.text_maze_game.gameEntity"
            class="com.schrodingdong.text_maze_game.gameEntity.GameEntityPackage"
            genModel="model/text_maze_game.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated text_maze_game -->
      <package
            uri="com.schrodingdong.text_maze_game.gameLogic"
            class="com.schrodingdong.text_maze_game.gameLogic.GameLogicPackage"
            genModel="model/text_maze_game.genmodel"/>
   </extension>
</plugin>
